/* RESET BODY + ROOT TO FULL WIDTH */
html, body, #root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents horizontal white space */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PREVENT ROOT FROM BOXING CONTENT */
#root {
  display: block !important;
  max-width: none !important;
}

/* CODE FONT */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
